<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>solpopmall.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3F1388AF6571789AB3B0FCE62A863AD0DCAC8DC5</string>
				<key>dateExpires</key>
				<string>11/5/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.17.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F1388AF6571789AB3B0FCE62A863AD0DCAC8DC5</string>
						<key>dateExpires</key>
						<string>11/5/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>254B9J7846</string>
						<key>name</key>
						<string>Samsung Electronics Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.17.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F1388AF6571789AB3B0FCE62A863AD0DCAC8DC5</string>
						<key>dateExpires</key>
						<string>11/5/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>254B9J7846</string>
						<key>name</key>
						<string>Samsung Electronics Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.17.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F1388AF6571789AB3B0FCE62A863AD0DCAC8DC5</string>
						<key>dateExpires</key>
						<string>11/5/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>254B9J7846</string>
						<key>name</key>
						<string>Samsung Electronics Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F1388AF6571789AB3B0FCE62A863AD0DCAC8DC5</string>
						<key>dateExpires</key>
						<string>11/5/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RSLicenseSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>254B9J7846</string>
						<key>name</key>
						<string>Samsung Electronics Co., Ltd. (Enterprise)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F1388AF6571789AB3B0FCE62A863AD0DCAC8DC5</string>
						<key>dateExpires</key>
						<string>11/5/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TouchEn_AntiCapture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>254B9J7846</string>
						<key>name</key>
						<string>Samsung Electronics Co., Ltd. (Enterprise)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F1388AF6571789AB3B0FCE62A863AD0DCAC8DC5</string>
						<key>dateExpires</key>
						<string>11/5/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>254B9J7846.com.samsung.solpopmall.prd.solNotiService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>254B9J7846</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>solNotiService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e1bf22dd-856e-41db-bbd1-99bf2be81cc8</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>name</key>
						<string>InHouse_com.samsung.solpopmall.prd.solNotiService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>254B9J7846</string>
						<key>name</key>
						<string>Samsung Electronics Co., Ltd. (Enterprise)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>254B9J7846.com.samsung.solpopmall.prd</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>254B9J7846</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>solpopmall.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c85016b3-971e-4621-9305-3583e73d04b1</string>
				<key>dateExpires</key>
				<string>11/7/26</string>
				<key>name</key>
				<string>samsung.solpopmall.prd</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>254B9J7846</string>
				<key>name</key>
				<string>Samsung Electronics Co., Ltd. (Enterprise)</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.9</string>
		</dict>
	</array>
</dict>
</plist>
