<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>welfaremall dev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5DD36B92E569657C474E5CBDFB2BB034CFE6BEF3</string>
				<key>dateExpires</key>
				<string>5/11/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.17.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5DD36B92E569657C474E5CBDFB2BB034CFE6BEF3</string>
						<key>dateExpires</key>
						<string>5/11/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CAAQRL44H</string>
						<key>name</key>
						<string>Myoung Han Yoo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.17.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5DD36B92E569657C474E5CBDFB2BB034CFE6BEF3</string>
						<key>dateExpires</key>
						<string>5/11/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CAAQRL44H</string>
						<key>name</key>
						<string>Myoung Han Yoo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.17.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5DD36B92E569657C474E5CBDFB2BB034CFE6BEF3</string>
						<key>dateExpires</key>
						<string>5/11/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CAAQRL44H</string>
						<key>name</key>
						<string>Myoung Han Yoo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5DD36B92E569657C474E5CBDFB2BB034CFE6BEF3</string>
						<key>dateExpires</key>
						<string>5/11/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RSLicenseSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CAAQRL44H</string>
						<key>name</key>
						<string>Myoung Han Yoo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5DD36B92E569657C474E5CBDFB2BB034CFE6BEF3</string>
						<key>dateExpires</key>
						<string>5/11/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TouchEn_AntiCapture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CAAQRL44H</string>
						<key>name</key>
						<string>Myoung Han Yoo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5DD36B92E569657C474E5CBDFB2BB034CFE6BEF3</string>
						<key>dateExpires</key>
						<string>5/11/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7CAAQRL44H.com.samsung.welfare.dev.test.notification</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7CAAQRL44H</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>welfaremal dev notification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>956b50b9-da3f-4c84-b804-5e8ac5877f57</string>
						<key>dateExpires</key>
						<string>5/11/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.samsung.welfare.dev.test.notification</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CAAQRL44H</string>
						<key>name</key>
						<string>Myoung Han Yoo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7CAAQRL44H.com.samsung.welfare.dev.test</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7CAAQRL44H</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>welfaremall dev.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>31604f64-2669-4757-a9a7-0705098333bb</string>
				<key>dateExpires</key>
				<string>5/11/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.samsung.welfare.dev.test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7CAAQRL44H</string>
				<key>name</key>
				<string>Myoung Han Yoo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.9</string>
		</dict>
	</array>
</dict>
</plist>
